form{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 150px;
    top: 80px;
    padding: 30px;
}
.box{
    width: 100vw;
    height: 100vh;
    background: url('../images/1.jpg') no-repeat;
    background-size: 100vw 100vh;
}
h2{
    height: 100px;
    width: 100%;
    color: #22183d;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}
.el-form-item__label{
    color: #22183d;
    margin-top: 20px;
}
.el-input{
    margin-top: 20px;
}
